// Place all the styles related to the pagina_inicial controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.titulo {
  color: #2f323b;
  text-align: center;
}

.card {
  width: 324px;
  height: 242px;
  background-color: #f7f7f7;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  margin: 50px auto 0 auto;

  .nome {
    color: #2f323b;
    font-size: 18px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
  }

  .lista {
    list-style: none;
    .item {
      color: #50e0b6;
      font-size: 24px;
      margin: 0 0 15px 0;
    }
  }
}
